# {{name}}

[![License](https://img.shields.io/github/license/{{github_username}}/{{slug}})]({{github_url}})
[![PyPI](https://img.shields.io/pypi/v/{{slug}}.svg?logo=python)](https://pypi.python.org/pypi/{{slug}})
[![GitHub](https://img.shields.io/github/v/release/{{github_username}}/{{slug}}?logo=github&sort=semver)]({{github_url}})
[![Ruff](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/ruff/main/assets/badge/v1.json)](https://github.com/astral-sh/ruff)
[![uv](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/astral-sh/uv/main/assets/badge/v0.json)](https://github.com/astral-sh/uv)
[![CI]({{github_url}}/workflows/CI/badge.svg)]({{github_url}}/actions?query=workflow%3ACI)
[![codecov](https://codecov.io/gh/{{github_username}}/{{slug}}/branch/main/graph/badge.svg?token=OLMR2P3J6N)](https://codecov.io/gh/{{github_username}}/{{slug}})

> [!WARNING]
> **{{name}} is in early development and is not yet ready for use**

* Documentation: [https://{{github_username}}.github.io/{{slug}}/](<https://{{github_username}}.github.io/{{slug}}/>)

## Project Description

{{description}}

## Installation

```shell
python -m pip install {{slug}}
```

## Quickstart

## Contributing

`{{slug}}` is an open source project and, as such, welcomes contributions of all kinds :smiley:

Your best bet is to check out the [contributing guide] in the docs!

> [!TIP]
> This project uses [task] as a task automation tool, see: <https://taskfile.dev/installation/>

### Credits

This package was created with [copier] and the [FollowTheProcess/python-package-template] project template.

[copier]: https://github.com/copier-org/copier
[FollowTheProcess/python-package-template]: https://github.com/FollowTheProcess/python-package-template
[contributing guide]: https://{{github_username}}.github.io/{{slug}}/contributing/contributing.html
[task]: https://taskfile.dev/
